doctype html

html
	head
		title demo
		include layout/header.pug

	body
		.container
			.jumbotron
				- var text = '<strong>现在gulp开始工作了.</strong>';
				h4 gulp工作流demo
				p!=text

			.col-xs-12
				- var arr = ['john','tomi','jack'];
				mixin list(arr)
					each value in arr
						li(style="color:#000;")=value

				ul
					+list(arr)

	include layout/footer.pug
